* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.color-light {
  color: rgba($color: #999999, $alpha: 1.0);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: auto;
  background-color: whitesmoke;
  border-radius: 0.6rem;
  padding: 10px;

  .calendar__header {
    font-family: 'Work Sans', sans-serif;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .calendar__month {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }

  .calendar__body {
    height: auto;
    font-family: 'Comfortaa', sans-serif;
  }
  .calendar__weekdays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .calendar__weekday {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 15px;
      font-weight: 600;
    }
  }
  .calendar__days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .calendar_day {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}