@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  --calendar-color-primary: #3f51b5;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: #fafafa;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: auto;
  font-family: Comfortaa, sans-serif;
  border-radius: 0.5rem;
  padding: 15px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  color: var(--calendar-color-primary);
  background-color: white;
  border: 1px solid var(--calendar-color-primary);
}

.calendar__header {
  font-family: "Work Sans", sans-serif;
  padding: 10px 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .calendar__month {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: var(--calendar-color-primary);
  }

  .calendar__arrow {
    // display: grid;
    // grid-template-columns: repeat(1, minmax(35px, 55px));
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    i {
      color: var(--calendar-color-primary);
      font-size: 1.3rem;
    }
  }
}

.calendar__body {
  height: auto;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, minmax(35px, 55px));
  margin-bottom: 5px;
  font-family: "Work Sans", sans-serif;

  .calendar__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
  }
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 55px));
  grid-template-rows: repeat(6, minmax(30px, 40px));
  font-family: Comfortaa, sans-serif;

  .calendar__day {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar__day-today {
    font-weight: 700;
    z-index: 101;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 0.5rem;
      // background-color: #f1f1f8;
      background-color: var(--calendar-color-primary);
      opacity: 0.07;
      z-index: -1;
    }
  }

  .calendar__day-other {
    // color: #c8ccec;
    color: var(--calendar-color-primary);
    opacity: 0.3;
  }
}
