@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  --color-primary: #3F51B5;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  background-color: #fafafa;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: auto;
  font-family: Comfortaa, sans-serif;
  border-radius: 0.5rem;
  padding: 15px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  color: var(--color-primary);
  background-color: white;
  border: 1px solid var(--color-primary);
}

.calendar__header {
  font-family: 'Work Sans', sans-serif;
  padding: 10px 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .calendar__month {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: var(--color-primary);
  }

  .calendar__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      color: var(--color-primary);
      font-size: 1.3rem;
    }
  }
}

.calendar__body {
  height: auto;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, minmax(35px, 50px));
  margin-bottom: 5px;
  font-family: 'Work Sans', sans-serif;

  .calendar__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
  }
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 50px));
  font-family: Comfortaa, sans-serif;

  .calendar__day {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar__day-today {
    font-weight: 700;
    z-index: 101;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 0.5rem;
      background-color: #f1f1f8;
      z-index: -1;
    }
  }

  .calendar__day-other {
    color: #c8ccec;
  }
}