$theme: ".default";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar#{$theme} {
  --cal-color-primary: #333333;
  --cal-font-family-1: "Work Sans", sans-serif;
  --cal-font-family-2: "Work Sans", sans-serif;
  --cal-drop-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --cal-border: 1px solid var(--cal-color-primary);
  --cal-border-radius: 0.5rem;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  font-family: var(--cal-font-family-2);
  border-radius: var(--cal-border-radius);
  box-shadow: var(--cal-drop-shadow);
  color: var(--cal-color-primary);
  background-color: white;
  border: var(--cal-border);
  box-sizing: border-box;
}

.calendar#{$theme} .calendar__header {
  position: relative;
  font-family: var(--cal-font-family-1);
  padding: 20px 14px 0px 14px;
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 55px));
}

.calendar#{$theme} .calendar__month {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  color: var(--cal-color-primary);
  grid-column: 2 / span 5;
  @include flex-center;
}

.calendar#{$theme} .calendar__arrow {
  height: 35px;
  width: 100%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 101;
  @include flex-center;

  &-inner {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    @include flex-center;

    &::before {
      content: '';
      width: 0.6em;
      height: 0.6em;
      position: absolute;
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      display: inline-block;
      transform-origin: center center;
      transform: rotate(-45deg);
      border-radius: 1px;
      color: var(--cal-color-primary);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--cal-color-primary);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::after {
        transition: opacity 0.3s ease;
        opacity: 0.05;
      }
    }
  }

  &-prev {
    position: relative;
    @include flex-center;

    .calendar__arrow-inner::before {
      margin-left: 0.3em;
      transform: rotate(-135deg);
    }
  }

  &-next {
    position: relative;
    @include flex-center;

    .calendar__arrow-inner::before {
      margin-right: 0.3em;
      transform: rotate(45deg);
    }
  }
}

.calendar#{$theme} .calendar__body {
  height: auto;
  padding: 14px;
}

.calendar#{$theme} .calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 55px));
  margin-bottom: 5px;
  font-family: var(--cal-font-family-1);

  .calendar__weekday {
    @include flex-center;
    height: 40px;
    font-weight: 500;
    opacity: 0.6;
  }
}

.calendar#{$theme} .calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 55px));
  grid-template-rows: repeat(6, minmax(30px, 40px));
  font-family: var(--cal-font-family-2);

  .calendar__day {
    font-weight: 600;
    position: relative;
    @include flex-center;
  }

  .calendar__day-other {
    font-weight: 600;
    color: var(--cal-color-primary);
    opacity: 0.3;
  }

  .calendar__day-today {
    font-weight: 700;
    z-index: 101;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      height: 90%;
      border-radius: 0.5rem;
      background-color: var(--cal-color-primary);
      opacity: 0.07;
      z-index: -1;
    }
  }
}
